<div id="prodModal">
    <div class="add-modal">
        <div class="close-add-modal exit-modal">+</div>

        <div class="producer-name">
            <label for="producer-name-input">Producer name</label>
            <input type="text" class="modal-input" id="producer-name-input">
        </div>
        <div class="producer-score">
            <label for="producer-score-input">Producer score</label>
            <input type="text" class="modal-input" id="producer-score-input">
        </div>

        <button type="button" class="" id="producer-submit-button">Submit</button>
    </div>
</div>