<div id="ingModal">
    <div class="ing-add-modal">
        <div class="close-ing-modal">+</div>
        <h3 class="h3-black login-text">Ingredient Name</h3>
        <form action="">
            <input type="text" class="new-ingredient-input ing-input" placeholder="Ingredient">
            <button type="submit" id="add-ingredient">Add ingredient</button>
        </form>
    </div>
</div>

