<main class="ingredient-card">
    <div class="ingredient-card-header">
        <a>{{ingredient}}</a>
        <h2>{{producer}}</h2>
    </div>
    <div class="ingredient-card-body">
        <div class="ingredient-photo-container">
            <img class="ingredient-photo" src="{{photo}}" />
        </div>
        <div class="ingredient-score-container">
            <div class="ingredient-score">{{ethicalScore}}</div>
            <a>Ethical Rating</a>

            
        </div>
        {{!rate producer button}}
    </div>
</main>