<div id="bg-modal">
    <div class="login-modal">
        <div class="close-modal">+</div>
        <h3 class="h3-black login-text">Log In</h3>
        <form action="">
            <input type="text" id="loginUsername" class="login-input" placeholder="UserName">
            <input type="password" id="loginPassword" class="login-input" placeholder="Password">
            <button class="submit-login" onclick="loginAcc()">Login</button>
        </form>
        <h3 class="h3-black register-text">Need to Register an Account, <a href="#" id="register-button">Register</a>
        </h3>
    </div>
</div>