<div id="rateModal">
    <div class="add-modal">
        <div class="close-add-modal exit-modal">+</div>

        <div class="rating">
            <label for="rating-input">Rating</label>
            <input type="text" class="modal-input" id="rating-input">
        </div>

        <button type="button" class="" id="rating-submit-button">Submit</button>
    </div>
</div>

