<!-- Uses Same Classes and Css as login Pop Up except parent div-->
<div id="reg-modal">
    <div class="login-modal">
        <div class="close-modal">+</div>
        <h3 class="h3-black login-text">Register</h3>
        <form action="">
            <input type="text" id="regUsername" class="login-input" placeholder="UserName">
            <input type="password" id="regPassword" class="login-input" placeholder="Password">
            <input type="password" id="confPassword" class="login-input" placeholder="Confirm Password">
            <button class="submit-register" onClick="regVer()">Register</button>
        </form>
        <h3 class="h3-black register-text">Already Have An Account?<a href="#" id="login-link"> Login</a>
        </h3>
    </div>
</div>