<main class="createMeal">
    <div class="ingredient-search-container">
       <input type="text" id="meal-name" class="form-control" name="meal-name" placeholder="Recipe name">
       <button type="submit" id="submit-recipe" class="btn btn-primary input-group-append">Submit recipe</button>
    </div>
    <form class="add-ingredient-form">
        <input type="text" id="ingredient-add-text" class="form-control" name="ingredient-add-text" placeholder="Add ingredient">
        <button type="button" id="add-ingredient-button" class="btn btn-primary input-group-append">Add ingredient</button>
    </form>
    <div class="recipe-ingredients">
        <div class="ingredients-list-container">
            <ul id="meal-list">
            </ul>
        </div>
    </div>
</main>