<!DOCTYPE html>
<html>

<head>
  <title>Ethical Eating</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"
    type="text/css" />
  <link rel="stylesheet" href="style.css">
</head>

<body class="landing-page-body">

  <header>
{{!-- added this to the main file, becuase every page in our website should have the nav bar
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navlist navbar-nav">
          <li class="navitem navlink">
            <a href="/build">Build Meal</a>
            <a href="/ingredient">Ingredients</a>
            <a href="#" id="login-button">Profile</a>
          </li>
        </ul>
      </div>
    </nav>
--}}
  </header>
  <h1 class="EE">
    Ethical Eating
  </h1>
  <h2>
    Shop with confidence
  </h2>
  <form action="/search" class="input-group mb-3 search-bar">
    <input type="text" class="form-control" name="q">
    <button type="submit" class="btn btn-primary input-group-append">Search</button>
  </form>

  <!-- Access Login/Register Pop up handlebar files-->
  {{> loginPop}}
  {{> RegisterPop}}

</body>

</html>