<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>
<style>
    body {
        background-image: none;
    }
</style>

<body>
    <div class="Sing-Bar">
        <h1>Sign Up</h1>
        <button type="button" name="button">submit</button>
    </div>
    <hr>
    <div class="account-info">
        <form action="">
            First Name: <input type="text" class="first-name" placeholder="First Name">
            Last Name: <input type="text" class="last-name" placeholder="Last Name">
            Password: <input type="password" class="reg-password" placeholder="Password">
            UserName: <input type="text" class="reg-username" placeholder="UserName">
            Confirm Password: <input type="password" class="conf-pass" placeholder="Confirm Password">
        </form>
    </div>
</body>

</html>